{% extends "Games/base.html" %}
{% load static %}
{% load widget_tweaks %}

{%block title%}
Profile
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-sm" style="align-items: center">
        </div>
        <div class="col-5">
                <h2>Welcome, {{ profile.username }}!</h2>
                <h2>{{ profile.first_name }} {{profile.last_name}}</h2>
                <p>{{ profile.email }}</p>
                {% if profile.birthday %}
                        <p>Birthday: {{ profile.birthday }}</p>
                {% endif %}
                {% if user_favorites %}
                        <p>Favorite games in total: {{ user_favorites|length }}</p>
                {% endif %}
                {% if user.is_authenticated %}
                        {% if user.id == profile.id %}
                                <h1><a class="badge badge-info mx-2" href="{% url 'user_profile:edit_profile' %}">Edit profile</a></h1>
                        {% endif %}
                {% endif %}
        </div>
        <div class="col-sm">
                <h3>List of favorite games:</h3>
                {% if user_favorites %}
                        {% for game in user_favorites %}
                        <a href="/game/{{ game.id }}" style="color: inherit">{{game.name}}</a>
                        <br>
                        {% endfor %}
                {% else %}
                        <p>You don't have any favorite games yet</p>
                {% endif %}
        </div>
      </div>
{% endblock %}