{% extends "Games/base.html" %}
{% load static %}
{% load widget_tweaks %}

{%block title%}
Profile
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-sm" style="align-items: center">
        </div>
        <div class="col-5">
                <h2>Welcome, {{ profile.username }}!</h2>
                <h5>Name:</h5>
                <p>{{ profile.first_name }} {{profile.last_name}}</p>
                <h5>Email:</h5>
                <p>{{ profile.email }}</p>
                {% if profile.birthday %}
                        <h5>Birthday:</h5>
                        <p>{{ profile.birthday }}</p>
                {% endif %}
                {% if user_favorites %}
                        <p>Favorite games in total: {{ user_favorites|length }}</p>
                {% endif %}
                {% if user.is_authenticated %}
                        {% if user.id == profile.id %}
                                <h1><a class="badge badge-info mx-2" href="{% url 'user_profile:edit_profile' %}">Edit profile</a></h1>
                        {% endif %}
                {% endif %}
        </div>
        <div class="col-sm">
                <h3>List of favorite games:</h3>
                {% if user_favorites %}
                        <table class="table table-sm table-hover table-striped">
                                {% for game in user_favorites %}
                                <tr>
                                        <td>
                                                <a href="/game/{{ game.game_id }}" style="color: inherit"><span class="float-right badge badge-primary">{{ game.user_rating }}</span>{{game.game_name}}</a>
                                        </td>
                                </tr>
                                {% endfor %}
                        </table>
                {% else %}
                        <p>You don't have any favorite games yet</p>
                {% endif %}
        </div>
      </div>
{% endblock %}