{% extends "Games/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load user_fav %}

{%block title%}
Home
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2" id="sidebar">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseMenu"
            aria-controls="collapseMenu" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{% static "img/arrow.png" %}" width="30" height="30">
        </button>

        <div class="collapse" id="collapseMenu">
            <form action="." class="bg-danger text-white collapse-menu" method="get">
                {% csrf_token %}
                <div>
                    <p class="font-weight-bold">Platform:</p>
                    {{ list_search_form.platforms }}
                </div>
                <div>
                    <p class="font-weight-bold">Genres:</p>
                    {{ list_search_form.genres }}
                </div>
                <div>
                    <p class="font-weight-bold">User Rating:</p>

                    <div class="range-slider">
                        <input type="text" class="js-range-slider" value="" />
                    </div>
                    <div class="extra-controls">
                        {% render_field list_search_form.rating_lower_limit class="js-input-from" style="visibility:hidden"%}
                        {% render_field list_search_form.rating_upper_limit class="js-input-to" style="visibility:hidden"%}
                    </div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>

    <div class="col-8 top-buffer d-felx flex-wrap">

        <div class="md-form mt-0">
            <form action="." method="get">
                {% csrf_token %}
                {% render_field name_search_form.name class="form-control" placeholder="Search" %}
            </form>
        </div>

        <div class="row top-buffer">
            {% for game in page_obj %}
            <div class="card game-card">
               <img src="{% if game.cover_url %}{{ game.cover_url }}{% else %}{% static 'img/no_img.jpg' %}{% endif %}"
                    class="card-img-top game_cover">
                <div class="card-body bg-dark text-white">
                    <h5>{{ game.game_name }}</h5>
                    <p class="card-text">
                        {% for keyword in game.keywords.all|slice:"0:2" %}
                        <span>{{ keyword.keyword_name }}</span>
                        {% endfor %}
                    </p>
                    <p class="card-text">
                        <span class="badge badge-pill badge-light"><a
                                href="{% url 'games:game_info' game.game_id %}">Open</a></span>
                         {% if user.is_authenticated %}
                             {% is_favorite user game.game_id as in_fav %}
                             {% if in_fav %}
                                <span class="badge badge-pill badge-light"><a href="{% url 'games:remove_from_favorite' game.game_id %}">Remove</a></span>
                             {% else %}
                                <span class="badge badge-pill badge-light"><a href="{% url 'games:add_to_favorite' game.game_id %}">Must</a></span>
                             {% endif %}
                         {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav class="mx-auto paginator" aria-label="...">
            <ul class="pagination pagination-lg">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link bg-danger text-white"
                            href="?page={{ page_obj.previous_page_number }}&{{params}}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}

                <li class="page-item disabled"><a class="page-link bg-danger text-white">{{page_obj.number}}</a></li>

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link bg-danger text-white"
                        href="?page={{ page_obj.next_page_number }}&{{params}}">{{ page_obj.next_page_number }}</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>

</div>

<script src="{% static "js/list.js" %}"></script>
{% endblock %}